body
{
	text-align: center;
	background-color: deepskyblue;
}


canvas
{
	background: pink;
	border-radius: 20px;
	border:1px solid black;
}


h3
{
  font-size: 40px;
}

.footer{

    position:fixed;
    color: black;
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align:center;
    box-shadow: 5px 7px 7px black;

}